-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: logbook_db
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `inventory_stock`
--

DROP TABLE IF EXISTS `inventory_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_stock` (
  `item_id` int NOT NULL,
  `quantity` decimal(10,2) NOT NULL DEFAULT '0.00',
  `last_updated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`item_id`),
  CONSTRAINT `inventory_stock_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_stock`
--

LOCK TABLES `inventory_stock` WRITE;
/*!40000 ALTER TABLE `inventory_stock` DISABLE KEYS */;
INSERT INTO `inventory_stock` VALUES (1,13.00,'2025-12-09 09:28:34'),(2,88.00,'2025-12-08 11:49:32'),(4,50.00,'2025-12-09 09:17:36');
/*!40000 ALTER TABLE `inventory_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inward_entries`
--

DROP TABLE IF EXISTS `inward_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inward_entries` (
  `entry_id` int NOT NULL AUTO_INCREMENT,
  `inward_date` date NOT NULL,
  `party_id` int NOT NULL,
  `entry_type` enum('Purchase','Return','Other') NOT NULL DEFAULT 'Purchase',
  `description` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`entry_id`),
  KEY `party_id` (`party_id`),
  CONSTRAINT `inward_entries_ibfk_1` FOREIGN KEY (`party_id`) REFERENCES `party_ledger` (`party_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inward_entries`
--

LOCK TABLES `inward_entries` WRITE;
/*!40000 ALTER TABLE `inward_entries` DISABLE KEYS */;
INSERT INTO `inward_entries` VALUES (1,'2025-12-02',2,'Purchase',NULL,'2025-12-04 18:59:20'),(2,'2025-12-07',3,'Purchase',NULL,'2025-12-08 11:41:13'),(3,'2025-12-08',3,'Purchase',NULL,'2025-12-08 11:47:24'),(6,'2025-12-08',2,'Purchase',NULL,'2025-12-09 08:04:52'),(7,'2025-12-09',3,'Purchase',NULL,'2025-12-09 09:17:36');
/*!40000 ALTER TABLE `inward_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inward_line_items`
--

DROP TABLE IF EXISTS `inward_line_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inward_line_items` (
  `line_item_id` int NOT NULL AUTO_INCREMENT,
  `entry_id` int NOT NULL,
  `item_id` int NOT NULL,
  `quantity` decimal(10,2) NOT NULL,
  `lot_no` varchar(50) DEFAULT NULL,
  `godown_no` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`line_item_id`),
  KEY `entry_id` (`entry_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `inward_line_items_ibfk_1` FOREIGN KEY (`entry_id`) REFERENCES `inward_entries` (`entry_id`) ON DELETE CASCADE,
  CONSTRAINT `inward_line_items_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inward_line_items`
--

LOCK TABLES `inward_line_items` WRITE;
/*!40000 ALTER TABLE `inward_line_items` DISABLE KEYS */;
INSERT INTO `inward_line_items` VALUES (3,1,1,12.00,'10','01'),(5,2,1,12.00,'5','2'),(6,3,2,100.00,'91','4'),(7,6,1,10.00,'10','01'),(8,7,4,50.00,'6','3');
/*!40000 ALTER TABLE `inward_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_master`
--

DROP TABLE IF EXISTS `item_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_master` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`item_id`),
  UNIQUE KEY `item_name` (`item_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_master`
--

LOCK TABLES `item_master` WRITE;
/*!40000 ALTER TABLE `item_master` DISABLE KEYS */;
INSERT INTO `item_master` VALUES (1,'dfh','2025-12-04 18:49:17'),(2,'iphone','2025-12-08 11:43:33'),(4,'dfhd','2025-12-09 09:16:36');
/*!40000 ALTER TABLE `item_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outward_entries`
--

DROP TABLE IF EXISTS `outward_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outward_entries` (
  `entry_id` int NOT NULL AUTO_INCREMENT,
  `outward_date` date NOT NULL,
  `do_no` varchar(100) NOT NULL,
  `party_id` int NOT NULL,
  `vehicle_no` varchar(50) DEFAULT NULL,
  `entry_type` enum('Sale','Dispatch','Sample') NOT NULL DEFAULT 'Sale',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`entry_id`),
  UNIQUE KEY `do_no` (`do_no`),
  KEY `party_id` (`party_id`),
  CONSTRAINT `outward_entries_ibfk_1` FOREIGN KEY (`party_id`) REFERENCES `party_ledger` (`party_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outward_entries`
--

LOCK TABLES `outward_entries` WRITE;
/*!40000 ALTER TABLE `outward_entries` DISABLE KEYS */;
INSERT INTO `outward_entries` VALUES (4,'2025-12-03','df1',2,'g vbgbg','Sale','2025-12-04 19:04:47'),(5,'2025-12-08','ar',3,'auefg','Sale','2025-12-08 11:42:38'),(6,'2025-12-08','ar1',3,'12','Sale','2025-12-08 11:45:19'),(7,'2025-12-08','zq1',2,'12wr','Sale','2025-12-08 11:49:32'),(12,'2025-12-09','dgb',3,'atr','Sale','2025-12-09 09:28:34');
/*!40000 ALTER TABLE `outward_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outward_line_items`
--

DROP TABLE IF EXISTS `outward_line_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outward_line_items` (
  `line_item_id` int NOT NULL AUTO_INCREMENT,
  `entry_id` int NOT NULL,
  `item_id` int NOT NULL,
  `quantity` decimal(10,2) NOT NULL,
  `lot_no` varchar(50) DEFAULT NULL,
  `godown_no` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`line_item_id`),
  KEY `entry_id` (`entry_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `outward_line_items_ibfk_1` FOREIGN KEY (`entry_id`) REFERENCES `outward_entries` (`entry_id`) ON DELETE CASCADE,
  CONSTRAINT `outward_line_items_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `item_master` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outward_line_items`
--

LOCK TABLES `outward_line_items` WRITE;
/*!40000 ALTER TABLE `outward_line_items` DISABLE KEYS */;
INSERT INTO `outward_line_items` VALUES (4,4,1,4.00,'10','01'),(5,5,1,4.00,'5','2'),(6,6,1,4.00,'5','2'),(7,7,2,12.00,'91','4'),(8,12,1,9.00,'10','01');
/*!40000 ALTER TABLE `outward_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `party_ledger`
--

DROP TABLE IF EXISTS `party_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `party_ledger` (
  `party_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `gst_no` varchar(15) DEFAULT NULL,
  `email_id` varchar(255) DEFAULT NULL,
  `contact_no` varchar(20) DEFAULT NULL,
  `type` enum('Customer','Vendor','Both') NOT NULL DEFAULT 'Customer',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`party_id`),
  UNIQUE KEY `gst_no` (`gst_no`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `party_ledger`
--

LOCK TABLES `party_ledger` WRITE;
/*!40000 ALTER TABLE `party_ledger` DISABLE KEYS */;
INSERT INTO `party_ledger` VALUES (2,'Priyank Bohra','sgby53ckg','priyank.bohra.31@gmail.com','9824072405','Both','2025-12-04 18:52:39','2025-12-04 18:56:50'),(3,'Anuj','12ddhfis','bai@gmail.com','11233457','Both','2025-12-08 11:39:50','2025-12-08 11:39:50');
/*!40000 ALTER TABLE `party_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `reset_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `otp_code` varchar(10) NOT NULL,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`reset_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `password_resets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `contact_no` varchar(20) NOT NULL,
  `role` varchar(50) DEFAULT 'user',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `contact_no` (`contact_no`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-09 15:35:28
